<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <table>
    <colgroup>
      <col class="name">
      <col class="alias">
      <col class="super-abilities">
      <col class="age">
      <col class="status">
    </colgroup>
    <thead>
    <tr>
      <th class="name">Name</th>
      <th class="alias">At Risk</th>
      <th class="super-abilities">Last Login</th>
      <th class="age">Missing Assignments</th>
      <th class="status">Preview</th>
      <th class="status">Latest Report</th>
    </tr>
    </thead>
    <tbody>
    <% @students.each do |student| %>
      <tr>
        <td class="text-align-left"><%= student.name %></td>
        <td class="text-align-center">
          <% if student.at_risk%>
            <div class="icon-container text-red-500">
              <i class="fa-solid fa-exclamation-circle text-red-500"></i>
              At Risk
            </div>
          <% else %>
            <div class="icon-container">
              <i class="fa-solid fa-circle-check text-green-500"></i>
            </div>
          <% end %>
        </td>
        <td class="text-align-center"><%= student.last_login %></td>
        <td class="text-align-center"><%= student.missing_assignments %></td>
        <td class="text-align-center"><%= link_to 'Generate Report', new_report_path({ report: { student: student.attributes, student_id: student.id } }) %></td>
        <td class="text-align-center"><%= student.reports.order('date').last&.date&.strftime("%m/%d/%Y") %></td>
      </tr>
    <% end %>
    </tbody>
    <tfoot>
    <tr>
      <td class="text-align-center" colspan="6">This table contains a list of students and their pertinent information, along with a way to generate a
        report. <br>**Students are at risk if missing more than two assignments
      </td>
    </tr>
    </tfoot>
  </table>
</div>
