<%= form_with(model: report, class: "contents") do |form| %>
  <% if report.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(report.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
        <% report.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :student_id, value: student_id %>

  <h6>Progress Report for
    <%= DateTime.now.strftime('%m/%d/%Y') %>
  </h6>

  <%= form.hidden_field :date, value: DateTime.now %>
  <% student = Student.find(student_id) %>
  <% teacher = student.teacher %>

  <br>

  <div>
    <div class="inline-block">
      <h6>Student: </h6>
    </div>
    <div class="inline-block">
      <%= student.name %>
    </div>
  </div>

  <br>

  <div>
    <div class="inline-block">
      <h6>Teacher: </h6>
    </div>
    <div class="inline-block">
      <%= teacher.name %>
    </div>
  </div>

  <br>

  <div>
    <div class="inline-block">
      <h6>Last Login: </h6>
    </div>
    <div class="inline-block">
      <%= student.last_login %>
    </div>
  </div>

  <br>
  <hr>
  <br>

  <h6>Current Course Grades</h6>
  <% student.enrollments.each do |enrollment| %>
    <% course = Course.find(enrollment.course_id) %>
    <div>
      <br>
      <div class="inline-block">
        <h6><%= form.label course.name %>: </h6>
      </div>
      <div class="inline-block">
        <%= enrollment.grade %>
      </div>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :comments %>
    <%= form.text_area :comments, rows: 4, class: "block shadow rounded-md border border-black-500 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div style="float: right;">
    <%= form.submit class: "sm-btn sm-btn-primary", value: "Generate Progress Report" %>
  </div>
  <!--  <div class="inline">-->
  <%#= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  <!--  </div>-->
<% end %>