<div id="<%= dom_id report %>">
  <h6>Progress Report for
    <%= DateTime.now.strftime('%m/%d/%Y') %>
  </h6>

  <% student = Student.find(report.student_id) %>
  <% teacher = student.teacher %>

  <br>

  <div>
    <div class="inline-block">
      <h6>Student: </h6>
    </div>
    <div class="inline-block">
      <%= student.name %>
    </div>
  </div>

  <br>

  <div>
    <div class="inline-block">
      <h6>Teacher: </h6>
    </div>
    <div class="inline-block">
      <%= teacher.name %>
    </div>
  </div>

  <br>

  <div>
    <div class="inline-block">
      <h6>Last Login: </h6>
    </div>
    <div class="inline-block">
      <%= student.last_login %>
    </div>
  </div>

  <br>
  <hr>
  <br>

  <h6>Current Course Grades</h6>
  <% student.enrollments.each do |enrollment| %>
    <% course = Course.find(enrollment.course_id) %>
    <div>
      <br>
      <div class="inline-block">
        <h6><%= course.name %>: </h6>
      </div>
      <div class="inline-block">
        <%= enrollment.grade %>
      </div>
    </div>
  <% end %>
  <br>
  <hr>
  <p class="my-5">
    <strong class="block font-medium mb-1">Comments:</strong>
    <%= report.comments %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this report", report, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this report', edit_report_path(report), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
