<!DOCTYPE html>
<html>
  <head>
    <title>StudentWeeklyProgressReport</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", 'https://backpack-ui.strongmind.com/assets/css/BackpackUI.bd414b6.css' %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="strongmind-ui">
      <div class="lti-container" style="margin: 0 auto">
        <div class="lti-header"><h3>Student Snapshot</h3></div>
        <%= yield %>
      </div>
  </body>
</html>
